body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner, 
.content, 
.sideboard, 
.footer {
    padding: 1em 2em;
}
.content, 
.sideboard, 
.footer {
    float: left;
    box-sizing: border-box;
}
.banner {
    background-color: rgb(223, 174, 14);
    height: 100px;
}
.content {
    width: 60%;
}
.sideboard {
    width: 40%;
    background-color: rgb(163, 163, 113);
    height: 400px;
}
.post {
    background-color: rgb(110, 183, 189);
    height: 100px;
    margin-bottom: 20px;
}
.footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 50px;
}
@media (min-width:768px) and (max-width:991px) {
    .content,.sideboard{
        width: 100%;
    }

    .sideboard{
        background-color: goldenrod;
    }
    .banner{
        background-color: lightskyblue;
    }
    
}

@media (min-width: 576px)and (max-width:991px){
    
    .content,.sideboard{
        width: 100%;
    }
    .content{
        background-color: darkgray;
    }
}

@media (min-width: 1024px)and (max-width:1920px){
    
    .content,.sideboard{
        width: 50%;
    }
   
}
